# Environment variables
.env
.env.*
!/.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data files
data/raw/*
data/processed/*
data/logs/*
*.csv
*.xlsx
*.xls
!subject lists.txt

# Scraped documents
*.pdf
*.doc
*.docx

# Logs
*.log
logs/
*.log.*

# IDE / OS specific
.vscode/
.idea/
*.swp
*.swo
.vs/
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# WebDriver binaries
chromedriver*
geckodriver*

# Specific files to ignore
.env copy
